@charset "utf-8";

#back {
    float: right;
}

#text_center {
    text-align: center
}

#movie_horizon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 406px;
    width: 708px;
}

#movie_vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 708px;
    width: 406px;
}

#movie_rotate_0 {
    -webkit-transform-origin: center;
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    -webkit-transform: rotate(0deg);
}

#movie_rotate_90 {
    -webkit-transform-origin: center;
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    -webkit-transform: rotate(90deg);
}

#movie_rotate_180 {
    -webkit-transform-origin: center;
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    -webkit-transform: rotate(180deg);
}

#movie_rotate_270 {
    -webkit-transform-origin: center;
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    -webkit-transform: rotate(270deg);
}