@charset "utf-8";

#admin {
    float: right;

}
#result{
    display: block
}
#finger{
    display: block
}
#Rotation{
    display: block
}
#movie_rotate_0 {
    display: block;
    -webkit-transform: rotate(0deg);
}

#movie_rotate_90 {
    display: block;
    -webkit-transform: rotate(90deg);
}

#movie_rotate_180 {
    display: block;
    -webkit-transform: rotate(180deg);
}

#movie_rotate_270 {
    display: block;
    -webkit-transform: rotate(270deg);
}